body {
    background: linear-gradient(to right,#fbc2eb, #a6c1ee);
    font-family: arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.calculator {
    width: 320px; 
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px; /* card rounded */
    box-shadow: 0 15px 30px rbga(0,0,0,0.2); /* card shadow */
}

input {
    width: 90%;
    padding: 10px;
    margin: 6px 0;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.buttons button {
    width: 45%;
    padding: 10px;
    margin: 6px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    border-radius: #6c63ff;
    color: white; 
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: #4b44d4;
}

h3 {
    margin-top: 15px;
    color: #6d0404;
    font-size: 20px;
}

h1 {
    color: #4b44d4;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 3rem; 
}

h2 {
    color: green;
    font-size: 2rem;
    margin-bottom: 15px;
}